{% extends 'store/base.html' %}

{% block content %}
<div align="center" class="container-fluid" style="margin-top: 20%;">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="btn btn-danger btn-lg mb-2">Happy Valentines Babe</div><br>
            <a href="{% url 'checkout' %}"><button class="btn btn-success btn-lg">Click Here</button></a>
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>

</div>
{% endblock %}