{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<div class="container"style="margin-top: 20%;">
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
            
            <h1 style="color: white;font-family:Georgia, 'Times New Roman', Times, serif;">I LOVE YOU BABE</h1>
            
            <img width="300" src="{% static 'images/pic.jpg' %}" class="img-thumbnail" alt=""><br>

            <a href="{% url 'cart' %}"><button class="btn btn-success btn-lg mt-3">PIDLITA KO</button></a>
            
            
            
        </div>
        <div class="col-sm-4">
            
        </div>
    </div>
</div>



{% endblock %}