{% extends 'store/base.html'  %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<style>
input[type=file]::file-selector-button {

  background-color: #ff8800;

}
.hide{
    display: none;
}

</style>

    <div class="container" style="margin-top: 20%;">
        <div class="row">
            <h1 style="margin-bottom: 3%; text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(246, 246, 246);">Background Removal</h1>

            <div class="col-sm-4">

            </div>
            <div class="col-sm-4 text-center">
                
                <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                    <input class="form-control" required type="file" id="fileInput" name="upload" accept="image/*">
                    <br>
                    <button class="mybutton btn btn-primary my-2 btn-lg" type="onsubmit">
                        <i class="loading fa fa-spinner fa-spin hide"></i>
                        <span id="btn-text">Remove Background</span>
                    </button>

                </form>
            </div>
            <div class="col-sm-4">
                
            </div>
        </div>
    
        
    </div>
    <script>
        const showSpinnerbtn = document.querySelector('.mybutton');
        const revealSpinner = document.querySelector('.loading');
        const buttonText = document.getElementById('btn-text')
        function spinner(){
            if( document.getElementById("fileInput").files.length == 0 ){
                
            }else{
                if (revealSpinner.classList.contains('hide')){
                    revealSpinner.classList.remove('hide');
                    setTimeout(function () { disableButton(); }, 0);
                    function disableButton() {
                        showSpinnerbtn.setAttribute("disabled", "true");
                        buttonText.innerHTML = "Removing.....";
                    }
                    
                    
                }   
            }
        }
        showSpinnerbtn.addEventListener('click',spinner);
    </script>


{% endblock %}